@import url("/node_modules/@fontsource/nunito/400.css");
@import url("/node_modules/@fontsource/nunito/800.css");


:root {
  --color-primary: #ed6436;
  --color-text: rgb(19, 19, 19);

  --font-text-size: 1rem;
  --font-header-size: 3.875rem;
  --font-subheader-size: 1.313rem;

  --padding-main: 70px;

  --button-vertical-padding: 25px;
  --button-horizontal-padding: 40px;
  --button-corner-radius: 32px;

  --text-regular: nunito, sans-serif;

  --card-height: 570px;
  --card-radius: 40px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: nunito, sans-serif;
  color: var(--color-text)
}

body,
h1,
h2 {
  margin: 0;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}



.main {
  padding: var(--padding-main)
}

header {
  height: 150px;
  padding: var(--padding-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
}

li {
  color: var(--color-text);
  list-style: none;
}

nav ul {
  display: flex;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
  color: white;
}

.headers__button {
  border: 2px solid transparent;
  background-color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 800;
  padding: var(--button-vertical-padding) var(--button-horizontal-padding);
  color: white;
  border-radius: 0 var(--button-corner-radius) var(--button-corner-radius);
}

.headers__button:hover {
  border: 2px solid var(--color-primary);
  background-color: white;
  color: var(--color-primary)
}

h1 {
  font-size: var(--font-subheader-size);
  color: var(--color-primary);
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-header-size);
  color: var(--color-text)
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.card {
  position: relative;
  width: 31%;
}

.card img {
  height: var(--card-height);
  width: 100%;
  object-fit: cover;
  border-radius: var(--card-radius);
}

.card__overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: var(--card-height);
  width: 100%;
  top: 0;
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.card__overlay:hover {
  opacity: 1;
}

.card__overlay span {
  color: white;
}

.card__title {
  text-transform: uppercase;
  font-size: var(--font-subheader-size);
}

.card__description {
  font-weight: 800;
  font-size: 2.213rem;
}
